potbs4j-schemas/src/main/xsd/stringTranslationsService.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="strings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="string" type="stringTranslation" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="stringTranslation">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="desc" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>